langchain
langchain-community
langchain-text-splitters
bs4
arxiv
pypdf
pymupdf
wikipedia
ipykernel
python-dotenv
langchain-openai
chromadb
langchain_huggingface
sentence-transformers
langchain_groq
langserve
sse_starlette
uvicorn
langchain
langchain-openai
python-dotenv
streamlit
langchain_core
langchain_groq
langchain_chroma
langchain_huggingface
faiss-cpu
langchainhub